div.credit-health
	div.logo-container
		img#logo(src="/images/SprouTu.png", alt="")
	h4.font-white You Credit Score
	div.cred-score-container.clearfix
		div.cred-score 
			p#cscore.vert-center(count-up tu-cscore="user.plantScore" tu-val="{{user.plantScore}}")
		div.cred-change
			p#cred-change.vert-center(count-up tu-cscore="user.scoreChange")
	video-panel(videourl="/videos/tree.mp4" percentage="{{user.plantScore}}" animate-video="user.plantScore")
div.credit-dashboard
	div.dash-base.cred-summary.clearfix
		div.col-md-3.summary-cell 
			p Total
			h2 {{ user.loanBalance | currency:"$":0 }}
		div.col-md-3.summary-cell 
			p Payments
			h2 {{ user.payments }}
		div.col-md-3.summary-cell 
			p Inquiries
			h2 {{ user.inquiries }}
		div.col-md-3.summary-cell 
			p Open Accounts
			h2 {{ user.openAccounts }}
	div.dash-base.credit-simulation(ng-controller="simulationCtrl")
		div
			div.clearfix.sim-row.first-row
				simulation-button(score-change="-200" method="modifyPlantScore(scoreChange)")
				simulation-button(score-change="-200" method="modifyPlantScore(scoreChange)")
				simulation-button(score-change="-200" method="modifyPlantScore(scoreChange)")
				simulation-button(score-change="-200" method="modifyPlantScore(scoreChange)")
			div.clearfix.sim-row
				simulation-button(score-change="200" method="modifyPlantScore(scoreChange)")			
				simulation-button(score-change="200" method="modifyPlantScore(scoreChange)")			
				simulation-button(score-change="200" method="modifyPlantScore(scoreChange)")			
				simulation-button(score-change="200" method="modifyPlantScore(scoreChange)")