div.credit-health
	video-panel(videourl="/videos/tree.mp4" percentage="{{user.plantScore}}" animate-video="user.plantScore")
div.credit-dashboard
	div.credit-simulation(ng-controller="simulationCtrl")
		div
			div.clearfix.sim-row
				simulation-button(scoreChange="-200" method="modifyPlantScore(-200)")
				simulation-button
				simulation-button
				simulation-button				
			div.clearfix.sim-row
				div.simulation(ng-click="modifyPlantScore(200)") Increase 200
				div.simulation(ng-click="modifyPlantScore(200)") Increase 200
				div.simulation(ng-click="modifyPlantScore(200)") Increase 200
				div.simulation(ng-click="modifyPlantScore(200)") Increase 200		
	div.some
		p {{user.userName}}
		p {{user.loanBalance}}
		p {{user.creditScore}}
		p {{user.plantScore}}