doctype html
html
	head
		base(href="/")
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/vendor/bootstrap/dist/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.clearfix(ng-app='dashboard')
		block content
		include scripts	