script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/plantAnimation/animateVideo.js")
script(type="text/javascript", src="/app/countUp/countUp.min.js")
script(type="text/javascript", src="/app/countUp/countUpDir.js")
script(type="text/javascript", src="/app/creditSimulation/simulationButtonDirective.js")
script(type="text/javascript", src="/app/creditSimulation/simulationCtrl.js")
script(type="text/javascript", src="/app/services/userData.js")