
html, body{
	width: 100%;
	background-color: #0295be;
	min-height: 100%;
}

body {
	min-height: 100%;
	font-family: myFirstFont, Helvetica, Arial, sans-serif;
}

.font-white {
	color: white;
}

.vert-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

.main-content {
	width: 1000px;
	margin: 0 auto;
}

/*Left side Credit Health*/

.credit-health {
	width: 300px;
	position: fixed;
	top: 25px;
}

#my-video {
	width: 100%;
	height: 100%;
}
img#logo {
	width: 100%;
	height: 150px;
}

.cred-score-container {
	margin-top: 5px;
}

.cred-score-container div {
	height: 70px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.cred-score-container div p{
	font-size: 40px;
}

.cred-score {
	background-color: #FCD800;
	border-right: solid;
	border-width: 10px;
	border-color: #0295be;
	width: 60%;
	float: left;
	color: white;
}

.cred-change {
	background-color: white;
	width: 40%;
	float: right;
    color: #A9D961;
}

/*Right Side credit Dashboard*/

.credit-dashboard {
	height: 100%;
	width: 67%;
	float: right;
}


.summary-cell {
	height: 60px;
	display: table;
}

.summary-cell p {
	display: table-cell;
	vertical-align: middle;
}

.summary-cell h2 {
	display: table-cell;
	vertical-align: middle;
	color: #f17123;
	font-size: 18px;
}

.dash-base {
	background-color: white;
	margin-top: 25px;
}

.credit-simulation {
	padding: 3.731344%;
}
.sim-row {
	margin-top: 25px;
}
.first-row {
	margin: 0px;
}
.simulation {
	text-align: center;
	border-left: solid;
	border-right: solid;
	border-width: 25px;
	border-color: white;
	background-color: red;
	float: left;
	width: 25%;
	height: 106.111px;
}

.sim-active {
	background-color: blue;
}